/* -----------------shared style ----------------------*/
/* ----google font style-----  */
body {
    font-family: 'Work Sans', sans-serif;
}

/* -------------------header style------------------------------ */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 150px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    width: 86.041px;
    height: 40px;
    transition: width 1s, height 1s;
}
.header-logo h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    transition: color 3s;
}

.header-logo h2>span {
    color: var(--linear-color);
}

.header-menu-bar-items ul {
    display: flex;
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.header-menu-bar-items ul>li {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 10px;
}

.header-menu-bar-items ul>li:hover {
    color: rgb(196, 196, 190);
}

.header-menu-bar-items ul>li:nth-child(3) {
    background-color: var(--header-background-color);
    padding: 10px;
}

.header-menu-bar-items ul>li:nth-child(3)>img:first-child {
    width: 20px;
    height: 18px;
    padding-left: 5px;
}

.header-menu-bar-items ul>li:nth-child(3)>img:nth-child(2) {
    width: 15px;
    height: 14px;
    padding-left: 5px;
}

/* -----------------------------------------main style ----------------------------------------*/


/*---------------------------------------- footer style---------------------------------------------------- */


/* -----------------------------------------------------------------mobile media query styles------------------------------------------------------------------------ */
 
@media screen and (max-width:576px) {
      

} 

/* -----------------------------------------------------------------tablets media query style------------------------------------------------------------------------- */
 
@media screen and (min-width:576px) and (max-width:992px) {
    
}