/* -----------------shared style ----------------------*/
/* ----google font style-----  */
body {
    font-family: 'Work Sans', sans-serif;
}

/* .half-width{
    width:50% ;
} */
.half-width img {
    width: 80%;
}

/* -------------------header style------------------------------ */
/* -----navbar style-------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    width: 86.041px;
    height: 40px;
}

#gammer {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

#g {
    color: #FF42A5;
}

.header-menu-bar-items ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu-bar-items ul>li {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
}

#youtube-header-icon {
    width: 15px;
    height: 15px;
}

#tik-tok-header-icon {
    width: 15px;
    height: 15px;
}

#follow-us-on-background-color {
    border-radius: 0.5rem;
    background-color: rgba(11, 2, 35, 0.10);
}

/*---------------------------header Play Like The G.O.A.T  and image section---------------------------------------------------------- */

.play-like-the-goat {
    background-image: url('../images/Group\ 14.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#play-like-the {
    color: #0B0223;
    font-size: 2.3rem;
    font-weight: 600;
}

#goat {
    font-size: 4rem;
    font-weight: 800;
    color: #8758F1;
    padding: 0px;
    margin: 0px;
}

.one-click {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem;
}

#sign-in {
    padding: 1.3rem 2.5rem;
    border-radius: 3rem;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;

}

#go-rague {
    padding: 1.3rem 2.5rem;
    gap: 0.6rem;
    border-radius: 3rem;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.header-play-like-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f3f3;
}


/* -----------------------------------------main style ----------------------------------------*/
.we-are-gamer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#we {
    font-size: 3rem;
    font-weight: 700;
    color: #8758F1;
}

.we-are-gamer {
    width: 31rem;
    text-align: right;
}

#an-international {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}

#know-more {
    padding: 1.3rem 2.5rem;
    border-radius: 3rem;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}
.games-title{
    text-align: center;
}

#youtube{
    width: 1.5rem;
    color: aquamarine;
}
#youtube-tag{
    color: rgb(68, 71, 80);
    background-color: #edefef;
    display: flex;
    align-items: center;
    position: absolute;
    top: 84rem;
    left: 53rem;
}
.online-games-card{
    display: flex;
    justify-content: space-around;
}



/*---------------------------------------- footer style---------------------------------------------------- */


/* -----------------------------------------------------------------mobile media query styles------------------------------------------------------------------------ */

@media screen and (max-width:576px) {

    /* ---------header style responsive for mobiles------ */
    .header {
        flex-direction: column;
    }

    .header-logo {
        display: flex;
        margin-bottom: 0px;
    }

    .header-menu-bar-items ul {
        flex-direction: column;
        margin-top: 0px;
    }

    .header-play-like-section {
        flex-direction: column;
    }

    .we-are-gamer-section {
        flex-direction: column;
    }
    .we-are-gamer {
        width: 20rem;
        text-align: center;
    }
    .online-games-card{
       flex-direction: column;
       align-items: center;
    }
    #youtube-tag{
        display: none;
        
    }

}

/* -----------------------------------------------------------------tablets media query style------------------------------------------------------------------------- */

@media screen and (min-width:576px) and (max-width:992px) {

    /* ---------header style responsive for tablets------ */
    .header {
        flex-direction: column;
    }

    .header-play-like-section {
        flex-direction: column;
    }

    .we-are-gamer-section {
        flex-direction: column;
    }
    .we-are-gamer {
        width: 25rem;
        text-align: center;
    }
    .online-games-card{
        flex-direction: column;
        align-items: center;
     }
     #youtube-tag{
         display: none;
        
     }
}